<template>
    <div>
        <h1>测试页面二</h1>
    </div>
</template>
<script>
import {getTodo} from "@/api/test.js"
export default {
    created() {
        getTodo().then((res)=>{
            console.log(res);
        })
    },
}
</script>